<div class="container">
    <div class="row">
        <div class="col">
            <h1>{{ mobName }} </h1>
        </div>
        <div class="col text-right">
            <h2><span class="badge" [ngClass]="{
            'badge-danger':   mobStatus === 'Indisponible',
            'badge-success':  mobStatus === 'Disponible',
            'badge-default':  mobStatus === 'En attente' }">
                    {{ mobStatus }}</span></h2>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/0d/Peugeot_Cyclomoteur_BB_%281957%29.jpg/800px-Peugeot_Cyclomoteur_BB_%281957%29.jpg"
                class="img-fluid" alt="Responsive image">
            <button mat-raised-button color="primary" class="example-fluid">Reserver</button>
        </div>
        <div class="col">
            <div class="row ">
                <h1>{{ mobPrice }}</h1>
            </div>
            <div class="row">
                <h2> {{ mobDesc }}</h2>
            </div>
        </div>
    </div>
</div>


