<!-- <div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h2>Mes mobs</h2>
      <div class="col-md-4">
        <app-mob *ngFor="let mobs of mobs" [mobName]="mobs.name" [mobStatus]="mobs.status" [mobDesc]="mobs.desc"></app-mob>
      </div>
    </div>
  </div>
</div>
 -->
<div class="container">
  <div class="alert alert-info" role="alert">
    Ceci est un bandeau d'info !
  </div>
  <h2>Mes mobs</h2>
  <div class="card-deck row-cols-md-3">
    <app-mob *ngFor="let mobs of mobs" [mobName]="mobs.name" [mobStatus]="mobs.status" [mobDesc]="mobs.desc">
    </app-mob>
  </div>
</div>
