<div class="container">
        <div class="row">
            <div class="col">
                <h1>{{mobylette.name}}</h1>
            </div>
            <div class="col text-right">
                <h2><span class="badge" [ngClass]="{
                'badge-danger':   mobylette.status==='Indisponible' , 
                'badge-success' : mobylette.status==='Disponible' , 
                'badge-default' : mobylette.status==='En attente' }">
                        {{mobylette.status}}</span></h2>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <img 
                src="/assets/img/mobs/{{mobylette._id}}.jpg"
                class="img-fluid" alt="Responsive image">
                <button mat-raised-button color="blue" class="example-fluid">Reserver</button>
            </div>
            <div class="col">
                <div class="row ">
                    <h1>{{ mobylette.price }}</h1>
                </div>
                <div class="row">
                    <h2> {{ mobylette.desc }}</h2>
                </div>
            </div>
        </div>
    </div>
