
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

$md-palettetestsecu: ( 50 : #36373c, 100 : #3beda5, 200 : #dadeff, 300 : #e63e39, 400 : #43c9e0, 500 : #36373c, 600 : #303136, 700 : #292a2e, 800 : #222327, 900 : #16161a, A100 : #6969f8, A200 : #3939f5, A400 : #0000fb, A700 : #0000e1, contrast: ( 50 : #000000, 100 : #000000, 200 : #000000, 300 : #ffffff, 400 : #ffffff, 500 : #ffffff, 600 : #ffffff, 700 : #ffffff, 800 : #ffffff, 900 : #ffffff, A100 : #ffffff, A200 : #ffffff, A400 : #ffffff, A700 : #ffffff, ) );

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$MobyWEB-primary: mat-palette($md-palettetestsecu,50); //grey
$MobyWEB-secondary: mat-palette($md-palettetestsecu,400);//blue
$MobyWEB-text: mat-palette($md-palettetestsecu,200);//lightgrey
$MobyWEB-validate: mat-palette($md-palettetestsecu,100);//green
// The warn palette is optional (defaults to red).
$MobyWEB-warn: mat-palette($md-palettetestsecu,300);//red

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$MobyWEB-theme: mat-light-theme((
  color: (
    primary: $MobyWEB-primary,
    accent: $MobyWEB-text,
    warn: $MobyWEB-warn,
  )
));

.example-spacer {
  flex: 1 1 auto;
}

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($MobyWEB-theme);

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.mat-raised-button.mat-blue, .mat-flat-button.mat-blue {
  background-color: #36373c;
  color: #dadeff;
}