<div class="card mb-3">
    <img class="card-img-top"
        src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/0d/Peugeot_Cyclomoteur_BB_%281957%29.jpg/800px-Peugeot_Cyclomoteur_BB_%281957%29.jpg"
        alt="Erreur iamge">
    <div class="card-body">
        <h2>{{ mobName }}</h2>
        <p>{{ mobDesc}}</p>

        <div class="row">
            <div class="col">
                <h4><span class="badge" [ngClass]="{
                        'badge-danger':   mobStatus === 'Indisponible',
                        'badge-success':  mobStatus === 'Disponible',
                        'badge-default':  mobStatus === 'En attente' }">
                    {{ mobStatus }}</span></h4>
            </div>
            <h4>
                <span class="card-text font-weight-bold">{{ mobPrice}}</span>
            </h4>
        </div>

    </div>
    <button mat-flat-button color="primary">Réserver</button>
</div>